# Import libraries

In [7]:
import os
import pandas as pd
import datetime as dt
import numpy as np
import sys

sys.path.append(os.path.abspath(".."))

from helpers.df_formating import convert_to_integer, convert_cols_to_snake_case, drop_row_if_not_complete

In [2]:
base_dir ="../Nkhoma_data/Data"

In [3]:
# all the files
os.listdir(base_dir)

['old_theatre_books_clean.xlsx',
 'Theatre_Book-Database 2025-plain.xlsx',
 'old_theatre_books_clean.pkl',
 'Old Theatre Books.xlsx',
 '.ipynb_checkpoints',
 'Theatre_Book-Database 2022 Auswertung-Arbeitsversion.xlsx',
 'Theatre_Book-Database 2024 Auswertung-Arbeitsversion.xlsx',
 'theatre_book_database_2022_clean.pkl',
 'Theatre_Book-Database 2023 Auswertung-Arbeitsversion.xlsx',
 'theatre_book_database_2022_clean.xlsx']

# Lets clean Old Theatre Books.xlsx

In [4]:
file_to_clean = "Old Theatre Books.xlsx"
path = f"{base_dir}/{file_to_clean}"
df = pd.read_excel(path, engine="openpyxl")  # often works even if extension is wrong
df.head()

    Years  Caseload
0  2023.0       NaN
1  2022.0    1539.0
2  2021.0    1244.0
3  2020.0    1103.0
4  2019.0    1325.0

In [5]:
df = convert_cols_to_snake_case(df)

# Remove rows where Caseload is missing
df = drop_row_if_not_complete(df, ["caseload"])

# Convert those cols from float to integer
df = convert_to_integer(df, ['years', 'caseload'])

# Create a complete sequence of years
full_years = pd.DataFrame(
    {"years": range(df["years"].min(), df["years"].max() + 1)}
)
# Merge so missing years become explicit
df = full_years.merge(df, on="years", how="left")

df.head()

   years  caseload
0   1973       630
1   1974       576
2   1975      <NA>
3   1976      <NA>
4   1977      <NA>

In [6]:
pkl_path = f"{base_dir}/old_theatre_books_clean.pkl"
xlsx_path = f"{base_dir}/old_theatre_books_clean.xlsx"
df.to_pickle(pkl_path)
df.to_excel(xlsx_path, index=False)